body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000080; /* Navy blue */
    color: white;
    padding: 10px 0;
    text-align: center;
}

#introduction-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#introduction {
    flex: 2;
    margin-right: 20px;
}

#profile-image {
    flex: 1;
    max-height: 10cm;
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Make the image round, optional */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #000080; /* Navy blue */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000080; /* Navy blue */
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
